.operation-button {
	color: #ffffff;
    background-color: #0000ff;
    margin: 5px 10px 5px 10px;
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}

.operation-button:disabled {
	color: #bbbbbb;
    background-color: #0000ff;
    margin: 5px 10px 5px 10px;
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}

.entry-button {
	font-size: 30px;
	color: #ffffff;
    background-color: #0000ff;
    width: 100px;
  	height: 50px;
    margin: 5px 10px 5px 10px;
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}

.modal-cancel-btn {
    background-color: #e0dddd;
    margin: 10px 10px 10px 10px;
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 5px;
}