#date {
  text-align: center;
}

table {
  margin: 0 auto;
  table-layout: fixed;
}

th, td {
  border: 1px solid;
}

#seats td {
  margin: 5px;
  width: 100px;
  height: 50px;
  text-align: center;
  word-wrap: break-word;
}

#platform td {
  margin: 5px;
  width: 200px;
  height: 50px;
  text-align: center;
  word-wrap: break-word;
}

label {
  display: block;
  margin: 10px 0;
}

textarea {
  resize: none;
  width: 100px;
  height: 20px;
}

.modal {
  width: 20%;
  padding: 0px 5px 5px 10px;
  background: whitesmoke;
  display: none;
}

.modal-header {
  text-align: right;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.is-show {
  display: flex;
  justify-content: center;
  align-items: center;
}


