.setTable{
  display: flex;
  align-items: flex-start;
}

.entrySeat{
	table-layout: fixed;
}

.displaySeat{
	flex: 1;
}

.entryTable {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 30px;
}

.displayTable {
  border-collapse: collapse;
  margin: 30px;
}

/*
td.entrySeatId {
	width: 100px;
	text-align: left;
	vertical-align: middle;
}

td.entrySeatName {
	width: 250px;
	text-align: left;
	vertical-align: middle;
}

td.entrySeatNo {
	width: 250px;
	text-align: left;
	vertical-align: middle;
}
*/
td.seatTable {
	width: 80px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 75%;
}

td.platform {
	background-color: #f5deb3;
	height: 35px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
}

td.space {
	height: 20px;
	border-left: none;
	border-right: none;
}

.noframe{
    border: none;
}

.alert {
    font-size: 15px;
    color: #ff0000;
}
