
.title{
  display: block;
  float: left;
  margin-right: 10px;
  color:black;
}

.items{
  display: block;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}


.sidebar{
  float: left;
  width: 20%;
}

.main{
  float: right;
  width: 75%;
}

.list-left{
  float: left;
  width: 33%
}

.list-mid{
  float: left;
  width: 33%
}

.list-right{
  float: left;
  width: 32%
}

.menu{
  clear:both;
  padding-top:30px;
  display:block;
}

.content {
  display: none;
}

.Open {
   display: block;
}

/* メインエリアラッパー要素のstyle */
#wrapper{
  clear: both;
  margin: 0 auto;
  overflow: hidden;
}

ul{
  list-style:none;
}

.main-ul{
	padding-left:0;
}